
<h2 class = "form-header">Sign up</h2>
<script>
   $(document).ready(function() {
     $.validator.addMethod('domains',function(){
       var input = $('#user_email').val()
       //Hidden field which stores the array of all the domains (fetched from Ruby helper on server-side)
       var valid_domains = $('#universities').val().split(" ") //hidden_field val is a string separated by spaces so split to make it array
       var inputted_domain = input.slice(input.indexOf('@')+1,input.length)
       if (valid_domains.includes(inputted_domain)){
         return true
       }
       return false
     })

    //form has id new_user, this is the name given by devise
     $('#new_user').validate({
      rules : {
        'user[email]': {required: true, email: true, domains: true},
        'user[password]': {required: true,minlength: 6},
        'user[password_confirmation]': {required: true, equalTo: '#sign_up_password'}
      },
      messages: {
        'user[email]': {required: 'This field is required', domains: 'Valid UK university domain required. E.g. username@surrey.ac.uk for Surrey University' },
        'user[password]': {required: 'Password is required'},
        'user[password_confirmation]': {required: 'Password needs to be confirmed', equalTo: 'Passwords do not match'}
      }

    });


  } );

</script>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">

    <%= f.label :email, class:'form-label' %><br />
    <!-- validator works with name instead of id -->
    <%= f.email_field :email, autocomplete: "email" ,class: 'form-control', style:'color: white;' %>
  </div>
  <!-- Hidden field gets UK university for javascript validation -->
  <div class="form-group">
    <%= f.hidden_field :universities, id: 'universities', value: ApplicationController.helpers.getUKUniversities() %>
  </div>


  <div class="form-group">
    <%= f.label :password, class:'form-label' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, id: 'sign_up_password', autocomplete: "new-password", class: 'form-control', style:'color: white;' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class:'form-label' %><br />
    <%= f.password_field :password_confirmation, id: 'sign_up_password_confirmation', autocomplete: "new-password", class: 'form-control', style:'color: white;' %>
  </div>

  <div class="actions">

    <%= f.submit "Sign up",  class: 'round-btn', style: 'margin-bottom: 20px;' %>

  </div>
<% end %>

<!-- Temporary Button-->
<!--<button class="round-btn" style = 'margin-bottom: 20px;' >Sign Up </button> -->

<% render "devise/shared/links" %>
