<header>
  <nav class="navbar navbar-expand-md fixed-top" >
    <div class="collapse navbar-collapse" id="navbarCollapse">
      
      <% if user_signed_in? %>
        <li class = "navbar-brand">
          <%= link_to '4Students', main_path, style: 'font-size: 30px;', data: {turbolinks: false} %>
        </li>
        <li class = "nav-item">
          <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, data: {turbolinks: false}, style: "float:right;" %>
        </li>

        <button type="button" id="sidebarCollapse" class = "sidebar-button-rotate">
          <%= fa_icon('times 2x')%>
        </button>
      <% else %>
      <li class = "navbar-brand">
        <%= link_to '4Students', root_path, style: 'font-size: 30px;', data: {turbolinks: false} %>
      </li>
        <li class = "nav-item">
          <%= link_to "Login", new_user_session_path, :method => :get, data: {turbolinks: false}, style: "float:right;" %>
        </li>       
      <% end %>
      
    </div>
  </nav>
</header>
