<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">
        <div class = 'profile-userpic' >
            <img src="assets/foodWallpaper-7ead1f7f94db01b8ac2d12484477b0153b1e29e9baf545c70a1d4cd453501a93.jpg" alt="profilepic" height="128" width="128">
            <p style = "padding-top: 10px;">Dummy Name</p>
        </div>
    </div>
    <ul class="list-unstyled components" style = "text-align: center !important;">

        <li>
            <%= link_to root_path, class: 'btn sidebar-btn', style: 'background-color: #1853ab;', data: {turbolinks: false} do %>
                <%= fa_icon('shopping-cart 2x')%>
                <b>Food</b>
            <% end %>
        </li>
        <li>
            <%= link_to root_path, class: 'btn sidebar-btn', style: 'background-color: #1f4e94;', data: {turbolinks: false} do %>
                <%= fa_icon('child 2x')%>
                <b>Entertainment</b>
            <% end %>
        </li>
        <li>
            <%= link_to root_path, class: 'btn sidebar-btn', style: 'background-color: #23477d;', data: {turbolinks: false} do %>
                <%= fa_icon('plus-square 2x')%>
                <b>Support</b>
            <% end %>
        </li>
        <li>
            <%= link_to chatmessages_path, class: 'btn sidebar-btn', style: 'background-color: #233d63;', data: {turbolinks: false} do %>
                <%= fa_icon('comment 2x')%>
                <b>Lobby Chat</b>
            <% end %>
        </li>
        <li>
            <%= link_to root_path, class: 'btn sidebar-btn', style: 'background-color: #1f2d41;', data: {turbolinks: false} do %>
                <%= fa_icon('phone 2x')%>
                <b>Contact Us</b>
            <% end %>
        </li>
    </ul>

</nav>
