  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active">
          <div class="item-carousel-image" style = "background-image: url('assets/foodWallpaper-7ead1f7f94db01b8ac2d12484477b0153b1e29e9baf545c70a1d4cd453501a93.jpg');"></div>
          <div class="carousel-caption">
            <h3>Food Helper <%= fa_icon "shopping-cart"%></h3>
            <p>Know your grocery!</p>
          </div>
        </div>

        <div class="item">
          <div class="item-carousel-image" style = "background-image: url('/assets/gradient2.jpg');"></div>
          <div class="carousel-caption">
            <h3 class = "animated fadeIn">Entertainment <%= fa_icon "child"%></h3>
            <p>Entertain your self!</p>
          </div>
        </div>

        <div class="item">
          <div class="item-carousel-image" style = "background-image: url('/assets/gradient3.jpg');"></div>
          <div class="carousel-caption">
            <h3>Support <%= fa_icon "home"%></h3>
            <p>Don't keep it inside!</p>
          </div>
        </div>
        <div class="item">
          <div class="item-carousel-image" style = "background-image: url('/assets/gradient3.jpg');"></div>
          <div class="carousel-caption">
            <h3>Lobby Chat <%= fa_icon "comment"%></h3>
            <p>Have fun with some random students</p>
          </div>
        </div>

      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <!-- Sign Up Form -->
  <div data-aos = "fade-up" data-aos-delay = "200" data-aos-duration = "1000" class = 'container container-form-device mr-35 ml-35' style = "margin-top: 15% !important; margin-bottom: 15% !important;" id='sign-up-form' >
    <%= render "devise/registrations/new"%>
  </div>
