<div class = 'container container-form-device' style = "height: 80vh;">
  <div class = 'form-header'>
    <h1 class="alert-heading">Log in</h1>
  </div>
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.label :email , class: 'form-label' %><br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control',style:'color: white;' %>
      <br>
      <%= f.label :password, class: 'form-label' %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: 'form-control',style:'color: white;' %>
      <br>


    <div class="actions">
      <%= f.submit "Log in", class: 'round-btn', style: 'margin-bottom: 20px;'%>
      <% button_to "Sign up", '/#sign-up-form', method: :get ,class: 'round-sign-up-btn' %>

    </div>
    <% if devise_mapping.rememberable? %>

        <%= f.label :remember_me , class: 'form-label'%>
        <%= f.check_box :remember_me %>
    <% end %>
    <%= render "devise/shared/links" %>
  <% end %>

</div>
