<div class="container container-form">
  <div class="row">
    <div class="form-header">
      <h1 class = "alert-heading">Chat Room</h1>

    </div>
  </div>

  <div class="row">
    <div class="form-control" id="chatbox", style = "height: 500px; color:white">
      <% @chatmessages.each do |chatmessage| %>
        <%= render 'chat_messages/chat_message', chat_message: chatmessage %>
      <% end %>
    </div>
  </div>
  <div class = "row" style = "margin-top: 10px;">
      <div class = 'wrapper'>
        <div class="input-group" style="float:left; width: 100%;">
          <%= simple_form_for(@chatmessage, url: chatmessages_create_url, remote: true) do |f| %>
          <%= f.text_field :message, required: true, placeholder: 'Say something', class: 'form-control', style:'color:white; ' %>
        </div>

        <div class="input-group-append" style="float:right;">
          <%= button_tag(class: 'round-btn', style: 'border-radius: 5px; height: 34px; width: 34px;') do %>
            <%= fa_icon 'arrow-right', style: 'border-radius: 45rem;'%>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
