<!DOCTYPE html>
<html>
  <head>
    <title>FourStudents</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag asset_path('logo4.png') %>
    <!-- Add jquery validator -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    :application, media: 'all', 'data-turbolinks-track': 'true' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>

  </head>

  <body>

    <%= render "shared/header" %>
     <%= render 'shared/alerts' %>

    <main role="main">
      <%= yield %>
      <%= render "shared/footer" %>
    </main>
  </body>
</html>
