<!DOCTYPE html>
<html>
  <head>
    <title>FourStudents</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag asset_path('logo4.png') %>

    <!-- Add jquery validator -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>


    <%= stylesheet_link_tag    :application, media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <%= render "shared/header" %>
    <% render 'shared/alerts' %>

    <main role="main">


      <% if user_signed_in? %>
        <div class = "wrapper">
          <%= render 'shared/sidenavbar' %>
          <%= yield %>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
    </main>

    <%= render "shared/footer" %>


    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  </body>
</html>
